<ion-view view-title="News" align-title="left" class="single_page">
    <ion-nav-buttons side="left">
        <button class="button ion-android-arrow-back button-clear back-button" ng-click="myGoBack();"></button>
        <!--<h4 class="food-name">Food Menu</h4>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear button-light username"><span></span><i class="custom_icon icon ion-android-share-alt"></i></button>
        <button class="button button-icon button-clear button-light username"><span></span><i class="custom_icon icon ion-android-more-vertical"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="preloader">
             <img src="./img/launch.png">

            <ion-spinner icon="dots" class="loader-home"></ion-spinner>
        </div>
    </ion-content>
    <!--    <ion-footer-bar class="bar bar-hp bar-footer" align-title="left">
            <h1 class="title">Your Credit Balance: 200pts</h1>
        </ion-footer-bar>-->
</ion-view>    
















